[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/cassiano/Programing_C/42/23_pipex/main/src/pipex.h
Type=Link
URL=file:///home/cassiano/Programing_C/42/23_pipex/main/src/pipex.h
Icon=text-x-chdr
